<picture class="banner">
  <source media="(min-width: 768px)" srcset="
      {{ resize_image(path=banner, width=1440, height=798, quality=100) }} 1440w,
      {{ resize_image(path=banner, width=1280, height=709, quality=100) }} 1280w,
      {{ resize_image(path=banner, width=992, height=550, quality=100) }} 992w,
      {{ resize_image(path=banner, width=768, height=426, quality=100) }} 768w" sizes="100vw" />

  <source srcset="
      {{ resize_image(path=banner, width=960, height=1404, quality=100) }} 960w,
      {{ resize_image(path=banner, width=640, height=936, quality=100) }} 640w,
      {{ resize_image(path=banner, width=320, height=468, quality=100) }} 320w" sizes="100vw" />

  <img src="{{ resize_image(path=banner, width=768, height=426, quality=100) }}" alt="" loading="eager" />
</picture>