<picture class="banner">
    <source media="(orientation:portrait)" srcset="
      {{ resize_image(path=banner, width=1080, height=1580, quality=100) }} 1080w,
      {{ resize_image(path=banner, width=720, height=1053, quality=100) }} 720w,
      {{ resize_image(path=banner, width=320, height=468, quality=100) }} 320w" sizes="100vw" />

    <source media="(orientation:landscape)" srcset="
      {{ resize_image(path=banner, width=1440, height=798, quality=100) }} 1440w,
      {{ resize_image(path=banner, width=1280, height=709, quality=100) }} 1280w,
      {{ resize_image(path=banner, width=640, height=355, quality=100) }} 640w" sizes="100vw" />

    <img src="{{ resize_image(path=banner, width=640, height=355, quality=100) }}" alt="" loading="eager" />
</picture>