{% extends "master.html" %}
{% block content %}
<main class="site-content">
    <div class="container-fluid bg-primary homepage-header">
        <div class="row">
            <div class="col-lg-6">
                <h1><small>Climate Friendly</small>COP<span>26</span></h1>
            </div>
        </div>
    </div>
    <div id="page-content" class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">{{ section.extra.subtitle }}</h2>
                {{ section.content | safe }}

                <hr />

                {% include "includes/partners.html" %}
            </div>
        </div>
    </div>

    </div>
</main>
{% endblock content %}